@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}
 
li{
    list-style: none;
}

.area{
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    background: cadetblue;  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 15s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
}

100%{
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
}
}

.container-fluid{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.container-fluid .profile{
    width: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 100px;
    border-radius: 25%;
    object-fit: cover;
    border: 3px solid rgb(0, 0, 0);
    z-index: 2;
}

.container-fluid h3{
    margin: 0;
    font-size: 24px;
    color: black;
}

.container-fluid .subtitle{
    font-size: 18px;
    color: black;
    text-align: center;
    padding: 10px;
}

.container-fluid .subtitle2{
    text-align: center;
    padding: 18px;
    color: black;
}

.infor-container{
    background: white;
    width: 80%;
    height: 40%;
    border-radius: 2% 2% 2% 2%;
    position: relative;
    margin-top: 12px;
   
}
.content{
    padding: 1px 2px 1px;
    width: 100%;
    color: rgb(0, 0, 0);
    overflow: hidden;
    position: relative;
}

.link{
    transition: .7s;
    margin: 10px;
    width: 95%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    -webkit-box-shodow: 4px 4px 18px -5px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 4px 4px 18px -5px rgba(0, 0, 0, 0.72);
    box-shadow: 4px 4px 18px -5px rgba(0, 0, 0, 0.72);
}

.link:hover{
    transition: .2;
    transform: translateY(5px);
}

.link.d{
    color: rebeccapurple;
}

.link.d .icon{
    color: rebeccapurple;
}

.footer{
    text-align: center;
    color: blue;
    font-size: 14px;
}